@CHARSET "UTF-8";

table {
	border : 1px solid black;
	margin : 20px;
	paddint : 20px;
	width : 350px;
}

.label {
	text-align : right;
	vertical-align : top;
	width : 100px;
}

.page {
	margin : 20px;
}

.error {
	font-size : small;
	color : red;
	
}

.select {
	width : 60px;	
}
}